@import "../../variable";

.container-hotels-new {
  display: flex;
  justify-content: space-around;

  .hotels-new {
    margin-left: 1.5rem;
    border: 2px solid #efeeee;
    border-radius: 10px 10px 20px 10px;
    box-shadow: 1px 1px 4px rgb(185, 192, 194);

    .hotels-new-body {
      display: flex;
      padding: 20px;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .title {
        box-shadow: 1px 1px 4px rgb(185, 192, 194);
        font-size: 25px;
        color: #ccc;
        text-decoration: none;
      }

      .hotels-new-content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        box-shadow: 1px 1px 4px rgb(185, 192, 194);
        align-content: space-around;
        justify-content: flex-start;
        .form-control.is-invalid {
          animation: shake 0.5s;
        }

        @keyframes shake {
          10%,
          90% {
            transform: translateX(-5px);
          }

          20%,
          80% {
            transform: translateX(5px);
          }

          30%,
          50%,
          70% {
            transform: translateX(-5px);
          }

          40%,
          60% {
            transform: translateX(5px);
          }
        }
      }

      .btn-send {
        background-color: #008080;
        color: #fff;
      }
    }
  }
}
