@import '../variable';

.container-rooms {
  display: flex;
  justify-content: space-around;

  .rooms {
    margin-left: 1.5rem;
    border: 2px solid #efeeee;

    .rooms-body {
      padding: 30px;
      flex-wrap: wrap;
      justify-content: space-between;
      .title {
        text-shadow: 1px 1px 2px rgba(254, 254, 254, 0.5);
      }
    }
  .btn-outline-danger{
    border: dashed
  }
  }
}